


<h1></h1>

<!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Visualizza Per</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li> ordine 1 </li>    
    <li> ordine 2 </li>
    <li class="divider"></li>
    <li> <%= link_to "Random", startups_path(:order_by =>"random") %> </li>

  </ul>
</div>



<!-- Carousel startup in evidenza -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators (i pallini) -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
<!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- QUI VA QUELLA PIU IN EVIDENZA -->
      <img src="http://placehold.it/1200x315" alt="...">
      <div class="carousel-caption">
          <h3>Caption Text</h3>
      </div>
    </div>
    <% @startup_in_the_spotlight.each do |startup|%>
       <div class="item">
         <%= link_to image_tag(startup.video_thumbnail_url, :size => "220x200"), action: "show", id: startup.id  %> 
         <div class="carousel-caption">
             <h3><%= startup.description%></h3>
         </div>
       </div>
    <%end%>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
<!---------------------------------->






<!-- Ciclo su ogni startup e prendo il thumbnail del video associato -->
<% @startups.each do |startup|%>
<div class="row-fluid">
    <div class="span col-xs-2">
        <div class="well">
              <div class="box">
                   <div class="box">
                      <!-- Carico i thumbnail dei video youtube e vimeo ricavati dalla funzione get_thumbnail di startups_controller-->
                      <%= link_to image_tag(startup.video_thumbnail_url, :size => "180x130"), action: "show", id: startup.id  %>   
                      <img class="img-responsive" src="/assets/like.png" style="margin:10px 0 20px 0;">
                   </div>                 

                  <div class="navbar-inner"
                      <div class="info">
                         Title <%= startup.title%>
                      </div>
                      <div class="info">
                        Funding Need: <%= startup.funding_need%>
                      </div>
                  </div>                  
            </div>
       </div>
<%end%>
</div>


<!-- Pagination -->
<div class="pagination pagination-centered">
  <%= will_paginate @startups, renderer: BootstrapPagination::Rails %>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
