<p id="notice"><%= notice %></p>

<p>
  <strong>Startup:</strong>
  <%= @startup_detail.startup_id %>
</p>

<p>
  <strong>Startup name:</strong>
  <%= @startup_detail.startup_name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @startup_detail.logo %>
</p>

<p>
  <strong>Name:</strong>
  <%= @startup_detail.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @startup_detail.surname %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @startup_detail.job_title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @startup_detail.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @startup_detail.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @startup_detail.mobile %>
</p>

<p>
  <strong>Short project description:</strong>
  <%= @startup_detail.short_project_description %>
</p>

<p>
  <strong>One line pitch:</strong>
  <%= @startup_detail.one_line_pitch %>
</p>

<p>
  <strong>Business summary:</strong>
  <%= @startup_detail.business_summary %>
</p>

<p>
  <strong>Customer problem:</strong>
  <%= @startup_detail.customer_problem %>
</p>

<p>
  <strong>Products and services:</strong>
  <%= @startup_detail.products_and_services %>
</p>

<p>
  <strong>Target market:</strong>
  <%= @startup_detail.target_market %>
</p>

<p>
  <strong>Sales marketing strategy:</strong>
  <%= @startup_detail.sales_marketing_strategy %>
</p>

<p>
  <strong>Business model:</strong>
  <%= @startup_detail.business_model %>
</p>

<p>
  <strong>Competitors:</strong>
  <%= @startup_detail.competitors %>
</p>

<p>
  <strong>Competitive advantage:</strong>
  <%= @startup_detail.competitive_advantage %>
</p>

<p>
  <strong>Management team:</strong>
  <%= @startup_detail.management_team %>
</p>

<p>
  <strong>Advisory board:</strong>
  <%= @startup_detail.advisory_board %>
</p>

<p>
  <strong>Revenue model:</strong>
  <%= @startup_detail.revenue_model %>
</p>

<p>
  <strong>Break even analysis:</strong>
  <%= @startup_detail.break_even_analysis %>
</p>

<p>
  <strong>Previous investiments:</strong>
  <%= @startup_detail.previous_investiments %>
</p>

<p>
  <strong>Use of funds:</strong>
  <%= @startup_detail.use_of_funds %>
</p>

<p>
  <strong>Past significant milestones:</strong>
  <%= @startup_detail.past_significant_milestones %>
</p>

<p>
  <strong>Exit strategy:</strong>
  <%= @startup_detail.exit_strategy %>
</p>

<p>
  <strong>Comparable exit markets:</strong>
  <%= @startup_detail.comparable_exit_markets %>
</p>

<p>
  <strong>Value proposition:</strong>
  <%= @startup_detail.value_proposition %>
</p>

<p>
  <strong>Resources beyond capital:</strong>
  <%= @startup_detail.resources_beyond_capital %>
</p>

<p>
  <strong>Additional info:</strong>
  <%= @startup_detail.additional_info %>
</p>

<%= link_to 'Edit', edit_startup_detail_path(@startup_detail) %> |
<%= link_to 'Back', startup_details_path %>
